<h1>Chq.to</h1>
<p>Esta es una aplicacion en la que se pueden acortar links y compartirlos de una manera segura y sencilla</p>
<a href="<%= links_path %>" class="button button-primary" >
  <span>Ver links</span>
</a>

<style>
  .button {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
  }
  .button-primary {
    background-color: #0DA7D0;
    color: white;
    text-align: center;
  }
  .button-primary:hover {
    background-color: #0C99BE;
  }
</style>