<% content_for :head do %>
  <%= stylesheet_link_tag "layouts/links", "data-turbo-track": "reload" %>
<% end %>

<div style="display:flex; flex-direction:column; align-items:center;">
  <h1>Chq.to</h1>
  <p>Esta es una aplicacion en la que se pueden acortar links y compartirlos de una manera segura y sencilla</p>
  <a style="margin-top:1em;" href="<%= links_path %>" class="button button-primary" >
    Ver links
  </a>
</div>