<div id="<%= dom_id visit_info %>">
  <p>
    <strong>Ip address:</strong>
    <%= visit_info.ip_address %>
  </p>

  <p>
    <strong>Visited at:</strong>
    <%= visit_info.visited_at %>
  </p>

</div>
