<h1>Editing visit info</h1>

<%= render "form", visit_info: @visit_info %>

<br>

<div>
  <%= link_to "Show this visit info", @visit_info %> |
  <%= link_to "Back to visit infos", visit_infos_path %>
</div>
