<% content_for :head do %>
  <%= stylesheet_link_tag "layouts/links", "data-turbo-track": "reload" %>
<% end %>
<%= content_for :page_title do %>Editar Link | Chq.To<%end %>

<div>
  <h1>Editar link</h1>

  <%= render "form", link: @link %>

  <div class="link-container">
    <a href="<%= links_path %>" class="button button-primary">Volver a links</a>
  </div>
</div>